{% if transactions %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Price</th>
                <th>Cost Center</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
                <tr>
                    <td>{{ t.date }}</td>
                    <td><a href="{{ t.href | urlencode }}">{{ t.name }}</a></td>
                    <td>{{ t.price }}</td>
                    <td>{{ t.cost_center }}</td>
                    <td>{{ t.balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No transactions.</p>
{% endif %}
