{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>DERP - {{ page_title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'erp/style.css' %}">

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block top_nav %}{% endblock %}
            <h1>{{ page_title }}</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
