{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>DERP - {{ page_title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'erp/style.css' %}">

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="outer">
            <nav class="main-navbar">
                <h1><a href="/">DERP</a></h1>
                <a href="/login">Log in</a>
                <ul class="navmenu">
                    <li><a href="/cost-centers">Cost centers</a></li>
                    <li><a href="/purchases">Purchases</a></li>
                    <li><a href="/fundings">Fundings</a></li>
                </ul>
            </nav>

            <main class="content">
                {% block top_nav %}{% endblock %}
                <h1>{{ page_title }}</h1>
                {% block content %}{% endblock %}
            </main>
        </div>
    </body>
</html>
