{% extends "base_standard.html" %}

{% block top_nav %}
    <nav>
        <ul>
            {% for p in cost_center.nav_path %}
                {% if p == cost_center %}
                <li>{{ p.name }}</li>
                {% else %}
                <li><a href="/cost-centers/{{ p.id }}">{{ p.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div>
        <h2>Children</h2>
        {% with children=cost_center.children.all %}
            {% if children %}
                <ul>
                    {% for c in children %}
                        <li><a href="/cost-centers/{{ c.id }}">{{ c.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>This cost center has no children.</p>
            {% endif %}
        {% endwith %}
    </div>

    <div>
        <h2>Transactions</h2>
        {% include "balance_sheet.html" with transactions=transactions only %}
    </div>
{% endblock %}
