{% extends "base_standard.html" %}

{% block top_nav %}
    <nav>
        <ul class="nav">
            {% for p in cost_center.nav_path %}
                {% if p == cost_center %}
                    <li class="nav-item nav-link">{{ p.name }}</li>
                {% else %}
                    <li class="nav-item">
                        <a href="/cost-centers/{{ p.id }}" class="nav-link">{{ p.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div>
        <p>Balance: {{ cost_center.total_balance | floatformat:2 }}</p>
    </div>

    <div>
        <h2>Children</h2>
        {% with children=cost_center.children.all %}
            {% if children %}
                <ul>
                    {% for c in children %}
                        <li><a href="/cost-centers/{{ c.id }}">{{ c.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>This cost center has no children.</p>
            {% endif %}
        {% endwith %}
    </div>

    <div>
        <h2>Transactions</h2>
        {% include "balance_sheet.html" with transactions=transactions only %}
    </div>
{% endblock %}
