{% extends "base_standard.html" %}

{% block content %}
    <a href="/purchases/create">Create purchase</a>

    {% if purchases %}
        <table class="datatable">
            <thead>
                <tr>
                    <th style="text-align: right;">#</th>
                    <th>Date</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Cost Center</th>
                    <th style="text-align: right;">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for p in purchases %}
                    <tr>
                        <td style="text-align: right;"><a href="{{ p.get_absolute_url }}">P{{ p.id }}</a></td>
                        <td>{{ p.purchase_date | date:"Y-m-d" }}</td>
                        <td style="text-align: center;">{{ p }}</td>
                        <td style="text-align: center;"><a href="{{ p.cost_center.get_absolute_url }}">{{ p.cost_center }}</a></td>
                        <td style="text-align: right;">{{ p.total_price | floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No purchases. Go and stimulate the economy?</p>
    {% endif %}
{% endblock %}