{% extends "base_standard.html" %}

{% block content %}
    {% if purchases %}
        <table class="datatable">
            <thead>
                <tr>
                    <th style="text-align: right;">#</th>
                    <th>Purchase Date</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Cost Center</th>
                    <th style="text-align: right;">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for p in purchases %}
                    <tr>
                        <td style="text-align: right;"><a href="/purchases/{{ p.id }}">{{ p.id }}</a></td>
                        <td>{{ p.purchase_date }}</td>
                        <td style="text-align: center;"><a href="{{ p.url }}">{{ p }}</a></td>
                        <td style="text-align: center;"><a href="{{ p.cost_center.url }}">{{ p.cost_center }}</a></td>
                        <td style="text-align: right;">{{ p.actual_price | floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No purchases. Go and stimulate the economy?</p>
    {% endif %}
{% endblock %}